@font-face {
    font-family: "Favorit";
    src: url('./Favorit-Regular.otf');
}

@font-face {
    font-family: "NeueHaasGrotDisp";
    src: url('./NeueHaasGrotDisp-55Roman.otf');
}

@font-face {
    font-family: "NeueHaasGrotDisp-Medium";
    src: url('./NeueHaasGrotDisp-65Medium.otf');
}

@font-face {
    font-family: "AcuminVariableConcept";
    src: url('./AcuminVariableConcept.otf');
}

@font-face {
    font-family: "GlyphWorld-Forest";
    src: url('./GlyphWorld-Forest.otf');
}